:root {
  --theme-color: rgb(91, 182, 111);
  --text-color: rgb(63, 70, 80);
  --text-color-secondary: rgb(84, 94, 108);
  --text-grey: rgb(151, 170, 195);
  --divider: rgb(232, 232, 232);
  --lighter-grey: rgb(204, 204, 204);
  --darker-grey: rgb(102, 102, 102);
  --smoky-white: rgb(245, 245, 245);
  --heart: rgb(251, 134, 106);

  --font-main: "Oswald", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}
