:root {
  --theme-color: rgb(66, 168, 192);
  --text-color: rgb(63, 70, 80);
  --text-color-secondary: rgb(84, 94, 108);
  --text-grey: rgb(151, 170, 195);
  --divider: rgb(232, 232, 232);
  --lighter-grey: rgb(204, 204, 204);
  --darker-grey: rgb(102, 102, 102);
  --smoky-white: rgb(245, 245, 245);
  --heart: rgb(251, 134, 106);

  --white-color: rgb(255, 255, 255);
  --muted-white: rgb(256, 256, 256, 0.7);
  --black-color: rgb(0, 0, 0);
  --muted-black: rgb(1, 1, 1, 0.7);

  --font-main: "Oswald", sans-serif;
  --font-secondary: "Raleway", sans-serif;

  --section-title-FZ: 2.4rem;
  --section-title-color: rgb(45, 119, 136);

  --section-item-FZ: 1.8rem;
}
