:host {
  .online-cv-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background: var(--theme-color);
    max-width: 100rem;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
