<div class="mobile-box" id="onlineCVmobileBX">
  <div class="mob-block mob-block--{{ profileData.type }}">
    <div class="mob-block-img-box">
      <img
        class="mob-block-img"
        src="{{ profileData.avatar }}"
        alt="{{ profileData.type }} icon"
      />
    </div>
    <div class="mob-block-desc-box">
      <h1 class="mob-block-name">{{ profileData.name }}</h1>
      <h3 class="mob-block-tagline">{{ profileData.tagline }}</h3>
    </div>
  </div>

  <div class="mob-block mob-block--{{ contactsData.type }}">
    <h2 class="mob-block-title">{{ contactsData.title }}</h2>

    <ul class="mob-block-list mob-block-list--{{ contactsData.type }}">
      @for (item of contactsData.items; track $index) {
      <li class="mob-block-item">
        <a class="mob-item-link" href="{{ item.link }}" target="_blank">
          <img
            class="mob-item-icon"
            src="{{ item.icon }}"
            alt="icon {{ item.type }}"
          />
        </a>
      </li>
      }
    </ul>
  </div>

  <div class="mob-block mob-block--{{ summaryData.type }}">
    <h2
      class="mob-block-title"
      (click)="onActivate(ActivationKeys.SUMMARY)"
      (keydown)="onActivate(ActivationKeys.SUMMARY)"
      tabindex="0"
    >
      {{ summaryData.title }}
      <img
        class="mob-block-activate"
        [class.mob-block-activate--active]="activationBlock.summary"
        src="assets/icon/activate.svg"
        alt="activate icon"
      />
    </h2>
    <div
      class="mob-block-list mob-block-list--{{ summaryData.type }}"
      [class.mob-block-list--active]="activationBlock.summary"
    >
      @for (item of summaryData.items; track $index) {
      <p class="mob-block-paragraph">{{ item }}</p>
      }
    </div>
  </div>

  <div class="mob-block mob-block--{{ projectsData.type }}">
    <h2
      class="mob-block-title"
      (click)="onActivate(ActivationKeys.PROJECTS)"
      (keydown)="onActivate(ActivationKeys.PROJECTS)"
      tabindex="0"
    >
      {{ projectsData.title }}
      <img
        class="mob-block-activate"
        [class.mob-block-activate--active]="activationBlock.projects"
        src="assets/icon/activate.svg"
        alt="activate icon"
      />
    </h2>
    <ul
      class="mob-block-list mob-block-list--{{ projectsData.type }}"
      [class.mob-block-list--active]="activationBlock.projects"
    >
      @for (item of projectsData.items; track $index) {
      <li class="mob-block-item mob-block-item--{{ item.type }}">
        <h3 class="mob-block-item-title">
          <img
            class="mob-block-item-icon"
            src="{{ item.icon }}"
            alt="icon {{ item.type }}"
          />
          {{ item.title }}
        </h3>
        <div class="mob-block-item-details">
          <ul class="mob-detail-list">
            @for (item of item.items; track $index) {
            <li class="mob-details-item">
              <h5 class="mob-details-item-title">
                {{ item.title }}
                <a
                  class="mob-details-item-link"
                  href="{{ item.link }}"
                  target="_blank"
                  >demo</a
                >
              </h5>
              <div class="mob-details-item-desc">{{ item.desc }}</div>
            </li>
            }
          </ul>
        </div>
      </li>
      }
    </ul>
  </div>

  <div class="mob-block mob-block--{{ coursesData.type }}">
    <h2
      class="mob-block-title"
      (click)="onActivate(ActivationKeys.COURSES)"
      (keydown)="onActivate(ActivationKeys.COURSES)"
      tabindex="0"
    >
      {{ coursesData.title }}
      <img
        class="mob-block-activate"
        [class.mob-block-activate--active]="activationBlock.courses"
        src="assets/icon/activate.svg"
        alt="activate icon"
      />
    </h2>

    <ul
      class="mob-block-list mob-block-list--{{ coursesData.type }}"
      [class.mob-block-list--active]="activationBlock.courses"
    >
      @for (item of coursesData.items; track $index) {
      <li class="mob-block-item">
        <h3 class="mob-block-item-title">{{ item.degree }}</h3>
        <div class="mob-block-item-meta">
          <div class="mob-meta-time">{{ item.time }}</div>
          <h5 class="mob-meta-title">
            {{ item.meta }}
            <a class="mob-meta-link" href="{{ item.link }}" target="_blank">
              >>>
            </a>
          </h5>
        </div>
      </li>
      }
    </ul>
  </div>

  <div class="mob-block mob-block--{{ skillsData.type }}">
    <h2
      class="mob-block-title"
      (click)="onActivate(ActivationKeys.SKILLS)"
      (keydown)="onActivate(ActivationKeys.SKILLS)"
      tabindex="0"
    >
      {{ skillsData.title }}
      <img
        class="mob-block-activate"
        [class.mob-block-activate--active]="activationBlock.skills"
        src="assets/icon/activate.svg"
        alt="activate icon"
      />
    </h2>
    <ul
      class="mob-block-list mob-block-list--{{ skillsData.type }}"
      [class.mob-block-list--active]="activationBlock.skills"
    >
      @for (item of skillsData.items; track $index) {
      <li class="mob-block-item">
        <div class="mob-block-item-flex">
          <h3 class="mob-flex-title">{{ item.title }}</h3>
          <div class="mob-flex-level">
            <div
              class="mob-flex-level-inner"
              [style.width.%]="[showSkills ? item.level : 0]"
            ></div>
          </div>
        </div>
      </li>
      }
    </ul>
  </div>

  <div class="mob-block mob-block--{{ experienceData.type }}">
    <h2
      class="mob-block-title"
      (click)="onActivate(ActivationKeys.EXPERIENCE)"
      (keydown)="onActivate(ActivationKeys.EXPERIENCE)"
      tabindex="0"
    >
      {{ experienceData.title }}
      <img
        class="mob-block-activate"
        [class.mob-block-activate--active]="activationBlock.experience"
        src="assets/icon/activate.svg"
        alt="activate icon"
      />
    </h2>
    <ul
      class="mob-block-list mob-block-list--{{ experienceData.type }}"
      [class.mob-block-list--active]="activationBlock.experience"
    >
    @for (item of experienceData.items; track $index) {
      <li class="mob-block-item">
        <h3 class="mob-block-item-title">{{ item.title }}</h3>
        <div class="mob-block-item-meta">
          <div class="mob-meta-time">{{ item.time }}</div>
          <div class="mob-meta-company">{{ item.company }}</div>
        </div>
        <div class="mob-block-item-details">
          <div class="mob-detail-box">
            <h5 class="mob-detail-title">{{ item.responsibilities.title }}</h5>
            <ul class="mob-detail-list">
              @for (responsibility of item.responsibilities.items; track $index) {
              <li class="mob-details-item">{{ responsibility }}</li>
              }
            </ul>
          </div>
          <div class="mob-detail-box">
            <h5 class="mob-detail-title">{{ item.achievements.title }}</h5>
            <ul class="mob-detail-list">
              @for (achievement of item.achievements.items; track $index) {
              <li class="mob-details-item">{{ achievement }}</li>
              }
            </ul>
          </div>

        </div>
      </li>
    }

    </ul>
  </div>

  <div class="mob-block mob-block--{{ languagesData.type }}">
    <h2 class="mob-block-title">{{ languagesData.title }}</h2>
    <ul class="mob-block-list mob-block-list--{{ languagesData.type }}">
      @for (item of languagesData.items; track $index) {
        <li class="mob-block-item">
          {{item.name}}
          <span class="item-desc">{{ item.desc }}</span>
        </li>
        }
    </ul>
  </div>

  <div class="mob-block mob-block--{{ interestsData.type }}">
    <h2 class="mob-block-title">{{ interestsData.title }}</h2>
    <ul class="mob-block-list mob-block-list--{{ interestsData.type }}">
      @for (item of interestsData.items; track $index) {
        <li class="mob-block-item">
          {{item.name}}
          <img class="item-icon" src="{{item.icon}}" alt="icon {{item.name}}">
        </li>
        }
    </ul>
  </div>

</div>
