/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/fonts.scss";
@import "./assets/scss/reset.scss";
@import "./assets/scss/vars.scss";

html,
body {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: var(--font-main);
  color: var(--text-color-secondary);
  background: var(--smoky-white);
  font-size: 1.6rem;
  padding: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.online-cv-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background: var(--theme-color);
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .project-box {
    // main start
    &--main {
      background: var(--white-color);
      padding: 3rem;
      a {
        color: var(--section-title-color);
      }

      .section-block {
        line-height: 1.4;
        position: relative;
        margin-bottom: 3rem;
        .section-title-box {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;
          .section-block-icon {
            width: 4rem;
            height: 4rem;
            background-color: var(--section-title-color);
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: center;

            border-radius: 50%;
            margin-right: 1rem;
            &--summary {
              background-image: url("./assets/icon/summary.svg");
            }
            &--experience {
              background-image: url("./assets/icon/experience.svg");
            }
            &--courses {
              background-image: url("./assets/icon/courses.svg");
            }
            &--projects {
              background-image: url("./assets/icon/projects.svg");
            }
            &--skills {
              background-image: url("./assets/icon/skills.svg");
            }
          }

          .section-block-title {
            font-size: var(--section-title-FZ);
            text-transform: uppercase;
            font-weight: 500;
            color: var(--section-title-color);
          }
        }

        .section-block-paragraph {
          text-indent: 2rem;
        }

        .section-block-list {
          .section-block-item {
            font-size: var(--section-item-FZ);

            .section-item-meta {
              .meta-box {
                position: relative;
                overflow: hidden;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;

                .meta-title {
                  color: var(--text-color);
                  font-size: 2rem;
                  font-weight: 500;
                  flex: 70%;
                }

                .meta-time {
                  position: absolute;
                  right: 0;
                  top: 0;
                  color: var(--text-grey);
                  flex: 30%;
                }

                .meta-org {
                  margin-bottom: 1rem;
                  color: var(--text-grey);
                }

                .meta-url {
                  position: absolute;
                  right: 0;
                  top: 0;
                  color: var(--text-grey);
                  flex: 30%;

                  .meta-link {
                    text-transform: lowercase;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }

                .meta-image {
                  width: 2rem;
                  height: 2rem;
                  margin: 0 1rem 0 2rem;
                }

                .level-title {
                  font-weight: 500;
                }

                .level-bar {
                  width: 70%;
                  height: var(--section-item-FZ);
                  background: var(--smoky-white);
                  margin-left: auto;

                  .level-bar-inner {
                    height: var(--section-item-FZ);
                    background: var(--theme-color);
                  }
                }
              }

              .meta-company {
                margin-bottom: 1rem;
                color: var(--text-grey);
              }
            }

            .section-item-details {
              .detail-box {
                .detail-title {
                  text-transform: capitalize;
                }

                .detail-list {
                  margin: 0 0 2rem 3rem;
                  font-size: 1.6rem;

                  .detail-item {
                    list-style: disc;
                    margin-bottom: 0.5rem;

                    .detail-item-box {
                      font-family: var(--font-secondary);
                      font-weight: 500;
                      position: relative;
                      overflow: hidden;
                      display: flex;
                      align-items: center;

                      .detail-item-heading-box {
                        flex: 70%;

                        .detail-item-heading {
                          color: var(--section-title-color);
                          font-size: 2rem;
                        }

                        .detail-item-desc {
                          color: var(--text-grey);
                          font-size: 1.8rem;
                        }
                      }

                      .detail-item-link-box {
                        position: absolute;
                        right: 0;
                        color: var(--text-grey);
                        flex: 30%;

                        .detail-item-link {
                          text-transform: uppercase;
                          font-weight: 700;

                          &:hover {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // main finish

    // sidebar start
    &--sidebar {
      background: var(--theme-color);
      color: var(--white-color);
      a {
        color: var(--white-color);
      }

      .container-block {
        font-family: var(--font-secondary);
        padding: 2rem;
        position: relative;

        &--profile {
          font-family: var(--font-main);
          background: rgba(0, 0, 0, 0.2);
          text-align: center;
          .avatar {
            max-width: 15rem;
            margin-bottom: 1.5rem;
            border: 0px solid var(--white-color);
            border-radius: 100%;
            box-shadow: 0 0.1rem 0.1rem var(--muted-black);
          }

          .name {
            font-size: 3rem;
            font-weight: 900;
            margin-bottom: 1rem;
          }

          .tagline {
            color: var(--muted-white);
            font-size: 2rem;
            font-weight: 400;
          }
        }

        &--contacts {
          .item-icon {
            width: 1.8rem;
            margin-right: 1rem;
          }
        }

        &--interests {
          .item-icon {
            width: 2rem;
          }
        }

        .container-block-title {
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 1.5rem;
        }

        .container-block-list {
          .container-block-item {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;

            .item-link {
              &:hover {
                text-decoration: underline;
              }
            }

            .item-degree {
              margin-top: 0;
              margin-bottom: 0.5rem;
            }

            .item-meta {
              color: var(--muted-white);
              font-size: 1.6rem;
              font-weight: 500;
              margin-bottom: 0;
              margin-top: 0;
            }

            .item-time {
              color: var(--muted-white);
              font-size: 1.6rem;
              font-weight: 500;
              margin-bottom: 0;
            }

            .item-desc {
              color: var(--muted-white);
            }
          }
        }
      }
      // sidebar finish

      .block-divider {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 50%;
          height: 1px;
          background: var(--muted-white);
        }
      }
    }
  }
}
