/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/fonts.scss";
@import "./assets/scss/reset.scss";
@import "./assets/scss/vars.scss";

html {
  &::-webkit-scrollbar {
    width: 0;
  }
  scrollbar-width: none;
}

html,
body {
  font-size: 62.5%;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--text-color-secondary);
  background: var(--smoky-white);
  font-size: 1.6rem;
  padding: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 450px) {
    padding: 0;
  }
}

.online-cv-box {
  min-height: calc(100vh - 6rem);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background: var(--theme-color);
  max-width: 100rem;
  min-width: 30rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 760px) {
    display: block;
  }

  @media (max-width: 450px) {
    min-height: calc(100vh);
  }

  .project-box {
    // main start
    &--main {
      background: var(--white-color);
      padding: 3rem;
      a {
        color: var(--section-title-color);
      }

      .section-block {
        line-height: 1.4;
        position: relative;
        margin-bottom: 3rem;
        .section-title-box {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;
          .section-block-icon {
            width: var(--section-icon-size);
            height: var(--section-icon-size);
            background-color: var(--section-title-color);
            background-repeat: no-repeat;
            background-size: 60%;
            background-position: center;

            border-radius: 50%;
            margin-right: 1rem;
            &--summary {
              background-image: url("./assets/icon/summary.svg");
            }
            &--experience {
              background-image: url("./assets/icon/experience.svg");
            }
            &--courses {
              background-image: url("./assets/icon/courses.svg");
            }
            &--projects {
              background-image: url("./assets/icon/projects.svg");
            }
            &--skills {
              background-image: url("./assets/icon/skills.svg");
            }
          }

          .section-block-title {
            font-size: var(--section-title-FZ);
            text-transform: uppercase;
            font-weight: 500;
            color: var(--section-title-color);
          }
        }

        .section-block-paragraph {
          font-size: var(--section-paragraph-FZ);
          text-indent: 2rem;
        }

        .section-block-list {
          .section-block-item {
            font-size: var(--section-item-FZ);

            .section-item-meta {
              .meta-box {
                position: relative;
                overflow: hidden;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;

                .meta-title {
                  color: var(--text-color);
                  font-size: var(--meta-title-FZ);
                  font-weight: 500;
                  flex: 70%;
                }

                .meta-time {
                  position: absolute;
                  right: 0;
                  top: 0;
                  color: var(--text-grey);
                  flex: 30%;
                  font-size: var(--section-item-FZ);

                  @media (max-width: 1000px) {
                    position: static;
                  }
                }

                .meta-org {
                  margin-bottom: 1rem;
                  color: var(--text-grey);
                }

                .meta-url {
                  position: absolute;
                  right: 0;
                  top: 0;
                  color: var(--text-grey);
                  flex: 30%;

                  .meta-link {
                    text-transform: lowercase;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }

                .meta-image {
                  width: var(--meta-title-FZ);
                  height: var(--meta-title-FZ);
                  margin: 0 1rem 0 2rem;

                  @media (max-width: 1000px) {
                    display: none;
                  }
                }

                .level-title {
                  font-weight: 500;
                }

                .level-bar {
                  width: 70%;
                  height: var(--section-item-FZ);
                  background: var(--smoky-white);
                  margin-left: auto;

                  .level-bar-inner {
                    height: var(--section-item-FZ);
                    background: var(--theme-color);
                    opacity: 0.5;
                    animation: pulseWidth 1s infinite alternate;
                  }

                  @keyframes pulseWidth {
                    0% {
                      width: var(--level-width);
                    }
                    20% {
                      width: var(--level-width-5);
                    }
                    40% {
                      width: var(--level-width);
                    }
                    60% {
                      width: var(--level-width-10);
                    }
                    80% {
                      width: var(--level-width);
                    }
                    100% {
                      width: var(--level-width-15);
                    }
                  }

                  @media (max-width: 1000px) {
                    margin-left: 0;
                  }
                }

                @media (max-width: 1000px) {
                  display: block;
                }
              }

              .meta-company {
                margin-bottom: 1rem;
                color: var(--text-grey);

                @media (max-width: 1000px) {
                  color: var(--section-title-color);
                  font-weight: 500;
                  font-size: var(--detail-list-FZ);
                }
              }
            }

            .section-item-details {
              .detail-box {
                .detail-title {
                  text-transform: capitalize;
                }

                .detail-list {
                  margin: 0 0 2rem 3rem;
                  font-size: var(--detail-list-FZ);

                  .detail-item {
                    list-style: disc;
                    margin-bottom: 0.5rem;

                    .detail-item-box {
                      font-family: var(--font-secondary);
                      font-weight: 500;
                      position: relative;
                      overflow: hidden;
                      display: flex;
                      align-items: center;

                      .detail-item-heading-box {
                        flex: 70%;

                        .detail-item-heading {
                          color: var(--section-title-color);
                          font-size: var(--detail-heading-FZ);
                        }

                        .detail-item-desc {
                          color: var(--text-grey);
                          font-size: var(--detail-desc-FZ);

                          @media (max-width: 900px) {
                            color: var(--section-title-color);
                            font-weight: 500;
                          }
                        }
                      }

                      .detail-item-link-box {
                        position: absolute;
                        top: 0;
                        right: 3rem;
                        flex: 30%;

                        font-size: var(--detail-link-FZ);
                        border-radius: 20%;
                        transition: scale 0.2s ease-in-out;
                        animation: pulse 1s infinite alternate;

                        .detail-item-link {
                          text-transform: uppercase;
                          font-weight: 700;
                        }

                        &:hover {
                          animation: pulse 1s paused;
                          scale: 1.1;
                          .detail-item-link {
                            text-decoration: underline;
                          }
                        }

                        @media (max-width: 900px) {
                          position: static;
                          margin-left: 3rem;
                          animation: none;
                          &:hover {
                            scale: 1;
                          }
                        }
                      }

                      @keyframes pulse {
                        0% {
                          transform: scale(1);
                        }
                        100% {
                          transform: scale(1.1);
                        }
                      }

                      @media (max-width: 900px) {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // main finish

    // sidebar start
    &--sidebar {
      background: var(--theme-color);
      color: var(--white-color);
      a {
        color: var(--white-color);
      }

      .container-block {
        font-family: var(--font-secondary);
        padding: 2rem;
        position: relative;

        &--profile {
          font-family: var(--font-main);
          background: rgba(0, 0, 0, 0.2);
          text-align: center;
          .avatar {
            max-width: var(--sidebar-avatar-size);
            margin-bottom: 1.5rem;
            border: 0px solid var(--white-color);
            border-radius: 100%;
            box-shadow: 0 0.1rem 0.1rem var(--muted-black);
          }

          .name {
            font-size: var(--sidebar-name-FZ);
            font-weight: 900;
            margin-bottom: 1rem;
          }

          .tagline {
            color: var(--muted-white);
            font-size: var(--sidebar-tagline-FZ);
            font-weight: 400;
          }
        }

        &--contacts {
          .item-icon {
            margin-right: 1rem;
          }
        }

        .container-block-title {
          text-transform: uppercase;
          font-size: var(--sidebar-title-FZ);
          font-weight: 700;
          margin-top: 0;
          margin-bottom: 1.5rem;
        }

        .container-block-list {
          .container-block-item {
            font-size: var(--container-item-FZ);
            margin-bottom: 1.5rem;

            .item-icon {
              width: var(--sidebar-icon-size);
            }

            .item-link {
              &:hover {
                text-decoration: underline;
              }
            }

            .item-degree {
              margin-top: 0;
              margin-bottom: 0.5rem;
            }

            .item-meta {
              color: var(--muted-white);
              font-size: var(--container-meta-FZ);
              font-weight: 500;
              margin-bottom: 0;
              margin-top: 0;
            }

            .item-time {
              color: var(--muted-white);
              font-size: var(--container-time-FZ);
              font-weight: 500;
              margin-bottom: 0;
            }

            .item-desc {
              color: var(--muted-white);
            }
          }
        }
      }
      // sidebar finish

      .block-divider {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 50%;
          height: 1px;
          background: var(--muted-white);
        }
      }
    }

    @media (max-width: 760px) {
      display: none;
    }
  }

  // mobile start
  .mobile-box {
    width: 100%;
    font-family: var(--font-secondary);
    color: var(--white-color);
    display: none;

    a {
      color: var(--section-title-color);
    }

    .mob-block {
      position: relative;
      padding: 2rem 2rem 0 2rem;

      &--profile {
        font-family: var(--font-main);
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        padding: 1rem 2rem;

        @media (max-width: 600px) {
          flex-direction: column;
          align-items: center;
        }
      }

      &--summary,
      &--projects,
      &--courses,
      &--skills,
      &--experience {
        .mob-block-title {
          cursor: pointer;
        }
      }

      .mob-block-img-box {
        .mob-block-img {
          max-width: var(--mobile-avatar-size);
          border-radius: 100%;
          box-shadow: 0 0.1rem 0.1rem var(--muted-black);
        }
      }

      .mob-block-desc-box {
        margin: auto auto auto 1rem;
        .mob-block-name {
          font-size: var(--mobile-name-FZ);
          font-weight: 900;
        }
        .mob-block-tagline {
          color: var(--muted-white);
          font-size: var(--mobile-tagline-FZ);
          font-weight: 500;
        }

        @media (max-width: 600px) {
          margin: auto;
          text-align: center;
        }
      }

      .mob-block-title {
        display: inline-block;
        text-transform: uppercase;
        font-size: var(--mobile-title-FZ);
        font-weight: 700;
        margin-top: 0;

        .mob-block-activate {
          width: var(--mobile-title-FZ);
          margin-left: 1rem;
          opacity: 0.8;
          transition: transform 0.3s ease;

          &--active {
            transform: rotate(90deg);
          }
        }

        &:hover {
          .mob-block-activate {
            scale: 1.1;
            opacity: 1;
          }
        }
      }

      .mob-block-list {
        &--contacts {
          display: flex;
          margin-top: 1rem;
        }

        &--summary,
        &--projects,
        &--courses,
        &--skills,
        &--experience {
          background-color: var(--white-color);

          padding: 0 1rem 0 1rem;
          max-height: 0;
          transition: all 0.3s ease-out;

          overflow: auto;

          &::-webkit-scrollbar {
            width: 0;
          }
          scrollbar-width: none;

          .mob-block-paragraph {
            color: var(--text-color);
            font-size: var(--mobile-item-FZ);
            text-indent: 1rem;
          }
        }

        &--active {
          padding: 1rem;
          max-height: 500px;
          transition: all 0.3s ease-in;
        }

        .mob-block-item {
          font-size: var(--mobile-item-FZ);
          color: var(--text-color);
          font-weight: 500;
          .mob-item-link {
            .mob-item-icon {
              width: var(--mobile-icon-size);
              position: relative;
              margin: 0 1rem;
              opacity: 0.8;

              &:hover {
                bottom: 0.3rem;
                opacity: 1;
              }
            }
          }

          .mob-block-item-title {
            color: var(--text-color);
            font-size: var(--mob-item-title-FZ);
            font-weight: 500;
            margin-bottom: 0.5rem;

            .mob-block-item-icon {
              width: var(--mob-item-title-FZ);
              margin: 0 1rem;
            }
          }

          .mob-block-item-details {
            margin: 0 0 2rem 2rem;

            .mob-detail-box {
              text-transform: capitalize;
              margin-top: 2rem;

              .mob-detail-title {
                margin-bottom: 0.5rem;
              }
            }
            .mob-detail-list {
              .mob-details-item {
                list-style: disc;
                margin-left: 1rem;
                font-size: var(--mob-details-item-FZ);

                .mob-details-item-title {
                  position: relative;
                  color: var(--section-title-color);
                  font-size: var(--mob-details-title-FZ);
                  margin-bottom: 0.5rem;

                  .mob-details-item-link {
                    position: absolute;
                    font-size: var(--mob-details-link-FZ);
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-left: 1rem;
                    animation: shake 0.2s infinite alternate;
                    top: 0.5rem;

                    &:hover {
                      animation: shake 0.5s paused;
                      text-decoration: underline;
                    }
                  }
                }

                @keyframes shake {
                  0% {
                    transform: rotate(2deg);
                    color: var(--text-grey);
                  }

                  100% {
                    transform: rotate(-2deg);
                    color: var(--section-title-color);
                  }
                }

                .mob-details-item-desc {
                  color: var(--text-grey);
                  font-size: var(--mob-details-desc-FZ);
                }

                &:nth-child(n + 2) {
                  margin-top: 1rem;
                }
              }
            }
          }

          .mob-block-item-meta {
            margin-bottom: 2rem;

            .mob-meta-title {
              color: var(--section-title-color);
              font-size: var(--mob-details-title-FZ);

              .mob-meta-link {
                position: relative;
                text-transform: uppercase;
                font-weight: 700;
                margin-left: 1rem;
                animation: follow 0.2s infinite alternate;

                &:hover {
                  animation: follow 0.5s paused;
                }
              }
            }

            @keyframes follow {
              0% {
                left: 0.2rem;
              }

              100% {
                left: -0.2rem;
              }
            }

            .mob-meta-time {
              color: var(--text-grey);
              font-weight: 500;
            }

            .mob-meta-company {
              color: var(--darker-grey);
              font-size: var(--mob-meta-company-FZ);
              font-weight: 500;
            }
          }

          .mob-block-item-flex {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;

            .mob-flex-title {
              color: var(--section-title-color);
              font-size: var(--mob-details-title-FZ);
              font-weight: 500;
            }

            .mob-flex-level {
              width: 70%;
              height: var(--mob-details-title-FZ);
              background: var(--smoky-white);
              margin-left: auto;

              .mob-flex-level-inner {
                height: var(--mob-details-title-FZ);
                background: var(--theme-color);
                opacity: 0.5;
                transition: width 0.3s 0.3s ease-in-out;
              }
            }
            @media (max-width: 700px) {
              display: block;
              .mob-flex-level {
                margin-top: 0.5rem;
                margin-left: 0;
              }
            }
          }
          &:nth-last-child(1) {
            .mob-block-item-details,
            .mob-block-item-meta,
            .mob-block-item-flex {
              margin-bottom: 0;
            }
          }
        }

        &--languages,
        &--interests {
          .mob-block-item {
            color: var(--main-color);
            margin: 0.5rem 0 0 1rem;

            .item-desc {
              color: var(--muted-white);
            }

            .item-icon {
              width: var(--mobile-item-FZ);
            }
          }
        }
      }

      &:nth-last-child(1) {
        padding-bottom: 2rem;
      }
    }

    @media (max-width: 760px) {
      display: block;
    }
  }

  // mobile finish
}
