<li class="section-block-item">
  <div class="section-item-meta">
    <div class="meta-box meta-box--title">
      <h3 class="meta-title">{{ itemData.degree }}</h3>
      <div class="meta-time">{{ itemData.time }}</div>
    </div>
    <div class="meta-box meta-box--link">
      <div class="meta-org">{{ itemData.meta }}</div>
      <div class="meta-url">
        <a class="meta-link" href="{{itemData.link}}" target="_blank" rel="noreferrer nofollow noopener">{{itemData.meta}}</a>
      </div>
    </div>
  </div>
</li>
